PORT=5000
MONGO_URI=mongodb://localhost:27017/sm-store
JWT_SECRET=change_this_secret
ALLOWED_PINCODE=712310
MIN_ORDER_VALUE=1000
RAZORPAY_KEY_ID=your_key_id
RAZORPAY_KEY_SECRET=your_key_secret
UPI_ID=yourshop@upi
